body {
    margin: 0;
    padding: 0;
    background-color: ghostwhite; /* Set the light grey background color */
}

.homeContainer {
    text-align: center;  /* Centers the text and buttons */
}

.homeLogo {
    width: 22vw;  /* This sets the width to be 60% of the viewport width */
    display: block;  /* This makes the image a block element, which allows it to be centered using auto margins */
    margin-left: 30px;  /* These two lines center the image */
    margin-right: auto;
}

.homeFig {
    width: 46vw;  /* This sets the width to be 60% of the viewport width */
    display: block;  /* This makes the image a block element, which allows it to be centered using auto margins */
    margin-top: 95px;
    margin-left: 30px;  /* These two lines center the image */
    margin-right: auto;
    margin-bottom: 85px;
}

.overviewText {
    /* Any desired styles for the overview text. For example: */
    font-size: 16px;
    line-height: 1.5;
    margin-top: 20px;
    text-align: left;
}

.datasetsSurvey {
    /* Any desired styles for the overview text. For example: */
    font-size: 16px;
    line-height: 1.5;
    margin-top: 20px;
    text-align: left;
}




