@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
}

/* Navbar CSS */
.navbar {
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 10px;
  right: 0;
  background-color: ghostwhite;
  height: 80px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}


.menu-bars {
  margin-left: 2rem;
  font-size: 1.6rem;
  background: none;
  color: #000;
}

.nav-menu {
  background-color: ghostwhite;
  width: 250px;
  height: 100vh;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: -100%;
  transition: 850ms;
}

.nav-menu.active {
  left: 0;
  transition: 450ms;
}

.nav-text {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 8px 0px 8px 16px;
  list-style: none;
  height: 70px;
}

.nav-text a {
  margin-top: 40px;
  margin-left: 25px;
  text-decoration: none;
  color: #151414;
  font-size: 16px;
  width: 95%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 16px;
  border-radius: 4px;
}

.nav-text a:hover {
  background-color: #000000;
  color: ghostwhite;
}

.nav-menu-items {
  width: 100%;
}

.navbar-toggle {
  background-color: ghostwhite;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

span {
  margin-left: 16px;
}

.contentContainer {
  margin-top: 85px;  /* Pushes content below the navbar */
  margin-right: 150px;
}

/* global elements styles */

h1 {
  margin-top: 65px;
  font-size: 35px;
  margin-bottom: 5px;
  font-family: Lato, sans-serif;
  text-align: left;
}

h2 {
  font-size: 15px;
  margin-bottom: 25px;
  font-family: Chalkduster, sans-serif;
}

/* Footer.css */
.footer {
  background-color: ghostwhite;
  padding: 10px 0;
  text-align: left;
  position: relative;
  bottom: 0;
  width: 100%;
}

.dottedline{
  color: lightgrey;
  margin-bottom: 12px;
}

.footcontent{
  margin-left: 10px;
}

